body {
    background-color: black;
}

.logo {

}
img {
    float: left;
}

.pictext {
   font-size: 70px; 
   -webkit-animation:colorchange 15s infinite alternate;
           
}

@-webkit-keyframes colorchange {
  0% {
    
    color: blue;
  }
  
  10% {
    
    color: #8e44ad;
  }
  
  20% {
    
    color: #1abc9c;
  }
  
  30% {
    
    color: #d35400;
  }
  
  40% {
    
    color: white;
  }
  
  50% {
    
    color: #5b98d6;
  }
  
  60% {
    
    color: red;
  }
  
  70% {
    
    color: #2980b9;
  }
  80% {
 
    color: #f1c40f;
  }
  
  90% {
 
    color: #2980b9;
  }
  
  100% {
    
    color: pink;
  }
}    

.welcome {
    color: white;
}

.info {
    color: white;
}

.Rati-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Rati-text {
  text-align: center;
  color: white;
}


.Diante-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Diante-text {
  text-align: center;
  color: white;
}

.Mel-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Mel-text {
  text-align: center;
  color: white;
}

.Derrick-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Derrick-text {
  text-align: center;
  color: white;
}

.Kenny-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Kenny-text {
  text-align: center;
  color: white;
}

.Skool-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Skool-text {
  text-align: center;
  color: white;
}

.Kae-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Kae-text {
  text-align: center;
  color: white;
}

.Andrew-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Andrew-text {
  text-align: center;
  color: white;
}

.Angel-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Angel-text {
  text-align: center;
  color: white;
}

.Greg-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Greg-text {
  text-align: center;
  color: white;
}

.Jerome-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Jerome-text {
  text-align: center;
  color: white;
}

.Juice-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Juice-text {
  text-align: center;
  color: white;
}

.Titi-info {
  border: 1px solid;
  border-color: white;
  float: left;
}

.Titi-text {
  text-align: center;
  color: white;
}

.founders {
  background-color: #5b98d6;
}

.founders-label {
  color: white;
}

.vision-label {
  color: white;
}

.mission-label {
  color: white;
}

.mission-statement {
  color: white;
}

.vision-statement {
  color: white;
}

.page {
  background-color: #5b98d6;
}

.twitter-profile {
  float: left;
}

.insta-profile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

.facebook-profile {
  float: right;
}

.Promos {
  color: white;
}

.Community {
  color: white;
}

.WorkComp {
  color: white;
}
